@font-face{font-family: 'MaszynaRoyalLight'; src: url('/style/MaszynaRoyalLight.ttf');}
@font-face{font-family: 'Miama'; src: url('/style/Miama.ttf');}

html{background: url(noise.png) #F9982F; padding: 0; margin: 0;}

body{background: url(sky.png) no-repeat #fff; border: 1px solid black; border-width: 0 2px 0 0; box-shadow: -10px 10px 10px #000; margin: 0 auto; padding: 20px; max-width: 840px;}

h1{background: url(head.png) no-repeat; border: 2px solid; border-radius: 10px; box-shadow: -10px 10px 10px #000; height: 180px; margin: 0 0 0 700px; overflow: hidden; padding: 0; text-indent: -600px; width: 180px; }

a {color: #197e05; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; border-radius: 5px; padding: 2px;}
a:hover {background: #25b109; color: #eee;}
.info{padding: 10px; border: 1px solid #31B229; background-color: #e6f5de;}