<h2>Download, czyli ściągnij</h2>
<p>Są dwie możliwości pobrania skryptu xt:</p>

<h3>Standardowo</h3>
<p>Wystarczy odwiedzić stronę <a href="https://sourceforge.net/project/showfiles.php?group_id=188571" title="download xt z sourceforge">xhtml-templates</a> na serwerach sourceforge i stamtąd pobrać najnowszą wersję.</p>

<h3>Serwer svn</h3>
<p>Korzystając z nowinek technicznych można cieszyć się wersją rozwojową, zawierającą zawsze najnowsze poprawki. Nie obiecuję jej codziennych aktualizacji, aczkolwiek aktualizowana powinna być dość często.</p>
<p>Najnowsze wersje skryptu można zatem w prosty sposób ściągać poleceniem:
<code>svn co https://xhtml-templates.svn.sourceforge.net/svnroot/xhtml-templates xhtml-templates</code>. Aby uaktualnić - wystarczy wejść do folderu <code>xhtml-templates</code> i wstukać <kbd>svn update</kbd>.</p>