<h2>Pomoc przy skrypcie</h2>
<p>Bardzo chętnie przyjmę wszelką formę pomocy przy skrypcie. Najbardziej zależy mi w tym momencie na testach, w czym wierzę, że pomogą użytkownicy <a href="http://forumweb.e-vip.pl/index.php">forumweb</a>.</p>
<p>Zapraszam wszystkich do wszelkich modyfikacji kodu - zmodyfikowane i poprawione funkcje proszę zgłaszać na <a href="http://forumweb.e-vip.pl/viewtopic.php?t=22944" title="forumweb">forum</a> lub <a href="http://infeo.pl/sites/neo/xt/docs/index.php">wiki</a>. Na razie może to być dość uciążliwa forma, ale niedługo powinna się zmienić.</p>

<h3>Developerzy</h3>
<p>Obecnie głównym developerem jest sam autor skryptu, jednak możesz uczestniczyć w budowaniu projektu - zapraszam do dyskusji na <a href="http://forumweb.e-vip.pl/viewtopic.php?t=22944" title="forumweb">forum</a>. Developerzy natomiast mają swoją stronę <a href="/xt/docs">wiki</a>.</p>
 
<h3>Podziękowania</h3>
<ul>
	<li><a href="http://minchal.jogger.pl" title="jogger Minchala">Minchal</a> - <code>css</code></li>
	<li><a href="http://forumweb.e-vip.pl/profile.php?mode=viewprofile&amp;u=3025" title="profil Wigroma">Wigrom</a> - <a href="http://img444.imageshack.us/img444/6381/image1yg4ir0.png">logo</a></li>
	<li><a href="http://forumweb.e-vip.pl/profile.php?mode=viewprofile&amp;u=2145" title="profil przem0">przem0</a> - <a href="http://img444.imageshack.us/img444/7713/i4170xtiy4.jpg">propozycja loga</a></li>
	<li><a href="http://infeo.pl">infeo</a> - hosting</li>
	<li><a href="http://mlodzi.pl">mlodzi.pl</a> - subdomena</li>
</ul>