<h2>Idea</h2>
<p>Xt to system szablonów, którego głównym założeniem są czyste szablony, pozbawione wszelkiego rodzaju pseudo-języka. Do poszczególnych znaczników możemy dodawać wartości korzystając z metody <code>add</code>, która obsługuje składnię <code>css3</code>. Dzięki temu, nie musimy uczyć się żadnej składni, aby pisać szablony.</p>

<h2>Wykonanie</h2>
<p>System składa się z pliku głównego - <code>core</code>, który w razie potrzeby ładuje odpowiednie wtyczki (<code>plugins</code>). Całość napisana jest oczywiście obiektowo. Osobne klasy, które są niezbędne do działania i nie traktowane jak wtyczki to, m.in. <code>getnode</code> (odpowiedzialny za obsługę <code>css3</code>) czy <code>fragment</code> (pozwalający wczytać dokument pozbawiony nagłówka)</p>

<h2>Modyfikacja</h2>
<p>Xt jest na <a href="licencja">licencji lgpl</a>, co pozwala na swobodną jego modyfikację. Jeśli masz jakieś pomysły - <a href="/me">daj mi znać</a>, bądź też napisz coś samemu i wyślij mi gotowe modyfikację. Jestem otwarty na wszelkie pomysły.</p>

<h2>Przykładowy kod w xt</h2>
<p>Oto on.</p>
<ol><li><code>include('xt/xt.class.php');</code></li>
<li><code>$xt=new xt('templates/main.html');</code></li>
<li><code>$fragment=$xt->fragment('templates/news.html');</code></li>
<li><code>$xt->add('#content', $fragment);</code></li>
<li><code>$xt->display(1);</code></li></ol>
<p>Podany kod wczytuje zawartość pliku <code>templates/news.html</code> do elementu o <code>id</code> równym <code>content</code>. Poza tym, jeśli tyko przeglądarka na to pozwala - wyświetla dokument jako <code>application/xhtml+xml</code>.</p>
<p>Jedną z ciekawszych możliwości jest fantastyczna obsługa formularzy, np.:</p>
<ol><li><code>$xt->set('#formularz > input[name="test"][type="text"]', array('value'=>'wartość', 'style'=>'color:red'));</code></li></ol>
<p>Dzięki tej prostej linii nie musimy dodawać niczego do formularza, żadnego pseudo-języka! Nasze pole formularza <code>#formularz</code> typu <code>text</code> otrzyma wartość równą <code>wartość</code> oraz czerwony kolor.</p>

<h2>Xt<sup>beta</sup></h2>
<p>Zapraszam wszystkich do testów, modyfikacji i zgłaszania błędów, czy to na <a href="http://forumweb.pl/viewtopic.php?t=22944">forum</a>, czy <a href="/me">bezpośrednio do mnie</a>.</p>
