<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>xt (xhtml templates) - system szablonów</title>
		<meta name="keywords" content="xt,szablon,system szablonów,xhtml,templates,css3,neo" />
		<link rel="stylesheet" type="text/css" href="style/style.css" media="screen,projection" />
		<link rel="shortcut icon" type="image/x-icon" href="style/fav.ico" />
		<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        	<script type="text/javascript">_uacct = "UA-441633-1";onload=urchinTracker;</script>
	</head>
	<body>
		<div id="top">
			<h1><span>xt - system szablonów</span></h1>
			<h2><abbr title="xhtml template">xt</abbr>, czyli precz z szablonowym pseudojęzykiem</h2>
			<p>xt to system szablonów w pełni opartych tylko o <abbr title="(eXtensible) HyperText Markup Language">xhtml</abbr>. Nie musisz uczyć się żadnego pseudojęzyka, wystarczy znać xhtml, php oraz css, o który opiera się cały silnik.</p>
			<ul>
				<li><a href="index">główna</a></li>
				<li><a href="download">download</a></li>
				<li><a href="http://infeo.pl/sites/neo/xt/docs/index.php?title=Strona_g%C5%82%C3%B3wna" title="dokumentacja wiki">dokumentacja (wiki)</a></li>
				<li><a href="help">pomoc przy skrypcie</a></li>
				<li><a href="licencja">licencja</a></li>
			</ul>
		</div>
		<p class="info">Nieoficjalne wyniki z <a href="http://art.php.pl/Najlepsze_projekty/">konkursu</a> wortalu php - nagrodę publiczności otrzymuje xt.</p>
		<p class="info">Poszukuję developerów projektu - zainteresowanych proszę o <a href="/me">kontakt</a>.</p>
		<div id="content">

		</div>
	</body>
</html>
