
<h2>Śmierć, kliniczna?</h2>
<p>20.05.2008</p>
<p>Projekt przeżywa stadium śmierci klinicznej. Nikt się nim nie interesuje, nawet ja.</p>
<p>Postaram się wydzielić z niego coś, co może być przydatne, czyli translator css do xpath.</p>

<h2>Pomysł</h2>
<p>21.01.2008</p>
<p>Projekt czeka na wszelkie pomysły. Aktualnie brak jest znanych mi problemów, nie mam również nic do zaimplementowania. Wszystko zdaje się działać dobrze.</p>
<p>Od dziś strona działa też na najnowszej wersji xt (svn).</p>

<h2>Nowa wersja xt</h2>
<p>3.10.2007</p>
<p>Od dziś dostępna jest <a href="https://sourceforge.net/project/showfiles.php?group_id=188571">nowa wersja xt</a>.</p>
<p>Przede wszystkim zmieniła się nieco idea - każda strona posiada teraz dwa pliki. Dzięki temu zabiegowi nasze szablony zostają nadal czystymi plikami xml, natomiast ich logika zostaje przeniesiona do osobnego pliku, co jest tak bardzo pożądane. Pozbywamy się natomiast problemu przebudowy całej strony w przypadku, gdyby jakiś szablon miał się zmienić.</p>

<h2>Przerwa ideologiczna</h2>
<p>27.09.2007</p>
<p>Podczas tej długiej przerwy następowały rzadkie aktualizacje na serwerze svn. Zastanawia mnie jaki kierunek powinien obrać projekt, aby być tak funkcjonalnym i wygodnym jak to tylko możliwe.</p>
<p>Bardzo proszę o wyrażanie swoich pomysłów na forum <a href="http://www.forumweb.pl/viewtopic.php?t=22944">forumweb</a>.</p>

<h2>Namespace</h2>
<p>20.04.2007</p>
<p>Zdaje się, że udało się uporać z problemami związanymi z namespace. Na razie rozwiązanie pozostawia sporo do życzenia, lecz powinno działać bez większych zarzutów. Zmiany dynamicznie zachodzą na serwerze svn, paczka wypuszczana na sourceforge pojawiać się będzie rzadziej, gdy zajdą większe zmiany lub gdy moduł  <strong>getnode</strong> zostanie lepiej uporządkowany.</p>
<p>Jak zwykle zapraszam programistów do uczestnictwa w projekcie, a użytkowników do uzupełnienia dokumentacji.</p>

<h2>Cache</h2>
<p>7.04.2007</p>
<p>Po długim okresie ciszy ukazuje się pierwsza wersja xt z mechanizmem cache. Na razie nie obsługuje on całej gamy funkcji, którą oferuje wersja bez cache, jednak podstawowe <code>add</code> i <code>set</code> działają. Paczkę z kodem można znaleźć na stronach <a href="https://sourceforge.net/project/showfiles.php?group_id=188571">download projektu</a>.</p>

<h2>Cache ciąg dalszy</h2>
<p>20.03.2007</p>
<p>Cache wykazuje dużą ochotę do pracy - jak na razie szybkością dziwięciokrotnie przewyższa smarty. Testy zostały przeprowadzone przy dodawaniu najprostszych wartości, czyli kilku zmiennych tekstowych. Do cache należałoby dopisać jeszcze mechanizm obsługi pętli, obsługę atrybutów oraz tagów. Wszystko to powinno pojawiać się stopniowo na serwerze svn. Być może docelowo wersja bez cache przestanie być rozwijana.</p>
<p>Zastanawiające są jednak szybkości wykonywania skryptu - bez cache - około 0.003 sekundy, natomiast najprostsza wersja z cache jest jedynie 3 razy szybsza! Czy zatem opłacalne jest tworzenie dość skomplikowanego mechanizmu cache, czy może w końcu rozwój php spowoduje dalsze przyspieszenie metod dom, co poskutkuje w szybszym parsowaniu szablonów bez żadnego cachowania. Zapraszam do <a href="http://forumweb.pl/viewtopic.php?t=22944" title="xt na forumweb">dyskusji</a>.</p>
<p>Nadal poszukuję osób chętnych do współpracy - wtedy wszystkie te problemy mogłyby być rozwiązane zdecydowanie szybciej.</p>

<h2>Xt i cache</h2>
<p>17.03.2007</p>
<p>Dziś światło dzienne ujrzała pierwsza wersja xt z mechanizmem cache. Co prawda na razie nie działają pętle, ani żadne inne <i>bajery</i>, ale najprostsze dodanie ciągu działa bezproblemowo. Wszystko można zobaczyć na razie wyłącznie korzystając z <a href="/xt/download">svn</a>. Gdy tylko będzie taka możliwość - testowa paczka ukaże się na sourceforge.</p>

<h2>Kolejna wersja xt</h2>
<p>16.03.2007</p>
<p>Wczoraj wydano <a href="https://sourceforge.net/project/showfiles.php?group_id=188571">nową wersję</a> xt. Do jednoosobowego zespołu dołączył oficjalnie Minchal, który podjął się wrzucania co jakiś czas paczek z xt z svn (którego, niestety, popularność jest nikła) na sourceforge. Dzięki Minchal.</p>
<p>Najnowsza paczka zawiera dużo drobnych poprawek. Dodałem magiczny atrybut <code>#text</code> do klasy <code>getnode</code>, więc do obiektów można się odwoływać na podstawie ich zawartości tekstowej, np. <code>div[#text^="test"]</code>.</p>
<p>Wszelkie uwagi proszę kierować na <a href="http://neo.mlodzi.pl/xt/docs/index.php?title=TODO">wiki</a>.</p>

<h2>Nowa wersja xt</h2>
<p>4.03.2007</p>
<p>Postanowiłem wrzucić dziś na serwer sourceforge paczkę zawierającą najnowszy kod xt ze względu na niską używalność serwera svn. Najnowsze źródło można więc znaleźć na <a href="https://sourceforge.net/project/showfiles.php?group_id=188571" title="xt na sourceforge">stronie projektu</a>.</p>
<p>Najwięcej zmian spowodowanych jest rozdrobnieniem kodu, który pierwotnie mieścił się w jednym pliku na moduły (obecnie jest to 9 plików). Następuje również powolna implementacja obsługi wyjątków.</p>
<p>Z najnowszej wersji został usunięty <code>small_tidy</code>, więc szablon <strong>musi</strong> być poprawnym dokumentem xml. W razie jakichś problemów z utrzymaniem kodu szablonów, czy dostosowaniem pod wymogi xt (poprawność xml) polecam <a href="http://infohound.net/tidy/">tidy</a>, które jest dostępne online.</p>

<h2>Kolejne większe zmiany</h2>
<p>3.03.2007</p>
<p>Trwają prace nad dodaniem wyjątków do xt oraz obsługą błędów. Oczywiście najnowszą wersję skryptu zawierającą poprawki można na bieżąco znaleźć przez <a href="/xt/download">serwer svn</a>.</p>
<p>Najprawdopodobniej klasa <code>small_tidy</code> przestanie być wspierana, a xt będzie wymagało poprawnego <code>xml</code>-a. Z pewnością ograniczy to błędy związane z nieudolnością klasy <code>small_tidy</code>.</p>

<h2>Poszukuję deveoperów</h2>
<p>25.02.2007</p>
<p>Brak rąk do pracy. Sam, niestety, mam sporo obowiązków na głowie, które utrudniają pracę dla xt, dlatego szukam ludzi, którzy mają czas, chęci i umiejętności, aby pomagać przy projekcie. Wszystkich zainteresowanych zapraszam do współpracy. Proszę o kontakt <a href="/me" title="zaszyfrowane dane">bezpośredni</a> lub przez <a href="http://forumweb.pl/viewtopic.php?t=22944">forumweb</a>.</p>

<h2>Nowy serwer</h2>
<p>20.02.2007</p>
<p>Wreszcie po długich zapowiedziach udało się przejść na nowy serwer, który sponsoruje firma <a href="http://infeo.pl">infeo</a>. Mam nadzieję, że przyczyni się to do dalszego rozwoju projektu i rozwiąże niejeden techniczny problem.</p>

<h2>Nowe metody obsługi pętli</h2>
<p>18.02.2007</p>
<p>Niedawno została dodana metoda <code>loop</code> pozwalająca na dość proste wprowadzenie pętli. Jej krótki opis znajduje się w dokumentacji. Mam zamiar wprowadzić również interfejs pozwalający na prostą współpracę z bazą danych - propozycje proszę przedstawiać na <a href="http://forumweb.pl/viewtopic.php?t=22944" title="forumweb o xt">forum</a>.</p>
<p>W dziale download, który został całkowicie przeniesiony na sourceforge można znaleźć paczki zawierające przykładowe skrypty - póki dokumentacja nie zostanie uzupełniona takowe przykłady powinny pomóc w zrozumieniu idei xt.</p>

<h2>Najnowsze poprawki</h2>
<p>10.02.2007</p>
<p>Wczoraj informowałem o problemach z działaniem pseudo-klas <code>css3</code> zawierających słowo <code>child</code>. Dzisiejsza paczka zdaje się rozwiązywać te problemy. Zostały również dodane dwie ostatnie pseudo-klasy: <code>:nth-last-child</code> oraz <code>:nth-last-of-type</code>. Zatem <code>xt</code> zyskuje sobie pełną obsługę dopiero nadchodzącego standardu <code>css3</code>.</p>

<h2>Błędy w obsłudze css3</h2>
<p>9.02.2007</p>
<p>Okazuje się, że pseudo-klasy zawierające słowo <code>child</code> nie działają poprawnie. Poza tym pominąłem jakoś <code>:nth-last-child</code> oraz <code>:nth-last-of-type</code>. Postaram się o jak najszybszą poprawkę tych błędów.</p>

<h2>Pełna integracja z <code>css3</code></h2>
<p>8.02.2007</p>
<p>Mam zaszczyt przedstawić po ponad tygodniu najnowszą wersję xt, która, przynajmniej w założeniu, obsługuje wszystkie &#8222;bajery&#8221; <code>css3</code>. Po raz kolejny zapraszam do testów.</p>
<p>Z zauważonych problemów nasuwa się głównie jeden - nie wolno nadawać atrybutu <code>xmlns</code>, który negatywnie wpływa na pojmowanie dokumentu przez <code>xpath</code>.</p>

<h2>Serwer svn</h2>
<p>7.01.2007</p>
<p>Dziś otrzymałem hosting na stronie <a href="http://sf.net">sourceforge</a>. Stonę projektu można znaleźć pod nazwą <a href="http://sourceforge.net/projects/xhtml-templates" title="xt na sourceforge">xhtml-templates</a>. Zatem najnowsze wersję xt będzie można <a href="http://xhtml-templates.svn.sourceforge.net/viewvc/xhtml-templates/" title="podgląd zawartości svn">znaleźć</a> korzystając z zalet svn :-)</p>

<h2>Xt w konkursie art.php.pl</h2>
<p>1.02.2007</p>
<p>Od dziś można głosować na najlepsze bilbioteki w konkursie <a href="http://art.php.pl">portalu php.pl</a>. Zapraszam wszystkich do głosowania na <a href="http://art.php.pl/Projekt/52">bilbiotekę xt</a>. Mam nadzieję, że dzięki konkursowi uda się zwerbować jakiegoś developera, który pomoże w dalszym rozwoju.</p>

<h2>Wiki dla xt</h2>
<p>27.01.2007</p>
<p>Dokumentacja projektu xt od dziś powinna rosnąć na stronie <a href="/xt/docs">wiki</a>! Na razie należałoby zaplanować układ dokumentacji. Pewna jego część znajduje się na stronie głównej, ale wszelkie modyfikacje, pomysły, usprawnienia jak najbardziej wskazane. Myślę, że takim wzorem dokumentacji może być <a href="http://www.php.net/manual/pl/">manual php</a>. Zapraszam wszystkich do jej uzupełniania.</p> <p>Niestety nie mam na razie pomysłu na automatyczny podgląd (jak to funkcjonuje w obecnej dokumentacji) - nie mogę pozwolić na wprowadzanie kodu php osobom postronnym. Z drugiej strony na serwerach nazwa.pl ze względu na segfault przestarzałej wersji biblioteki <code>libxml</code> skrypt nie działa.</p>
<p>Serwera pod wiki użycza nam firma <a href="http://infeo.pl">infeo</a>. Dziękujemy.</p>

<h2>Nowy silnik pobierania elementów</h2>
<p>26.01.2007</p>
<p>Najnowsza wersja xt wreszcie korzysta z nowego silnika pobierania elementów. Powinien on obsługiwać <code>css2</code> oraz niektóre nowości <code>css3</code>. Do dyspozycji aktualnie mamy następujące selektory:</p>
<ul>
	<li>*</li>
	<li>E</li>
	<li>E[foo]</li>
	<li>E[foo="bar"]</li>
	<li>E[foo~="bar"]</li>
	<li>E[foo^="bar"]</li>
	<li>E[foo$="bar"]</li>
	<li>E[foo*="bar"]</li>
	<li>E[hreflang|="en"]</li>
	<li>E.warning</li>
	<li>E#myid</li>
	<li>E F</li>
	<li>E > F</li>
	<li>E + F</li>
	<li>E ~ F</li>
</ul>
<p>Nowy silnik został nieco oddzielony od kodu, bo wyeksportowany do nowej klasy. Dzięki temu będzie łatwiejszy w modyfikacji.</p>
<p>Co prawda silnik pozostawia jeszcze nieco do życzenia - ta sama struktura kodu powtarza się aż trzykrotnie - ale na dzień dzisiejszy nie mam pomysłu na idealne rozwiązanie.</p>
<p>Nowy silnik powinien działać nieco szybciej, ze względu na maksymalne wykorzystanie <code>xpath</code>. W stosunku do starego zyskuje również nowe selektory (<code>E + F</code> oraz <code>E ~ F</code>).</p>
<p>Zapraszam do testów i zgłaszania na <a href="http://forumweb.pl/viewtopic.php?t=22944" title="forumweb, temat o xt">forum</a> ewentualne błędy. Aby zgłosić błąd nie zapomnij podać szablonu oraz kodu <code>php</code>.</p>

<h2>Przygotowania do nowego silnika pobierającego elementy</h2>
<p>24.01.2007</p>
<p>Trwają prace nad nowym silnikiem pobierania elementów (nowa funkcja <code>getNode</code>). Nowy silnik powinien być gotowy najpóźniej w weekend, dlatego błędy w wersjach starszych nie będą poprawione. Do najnowszej wersji zostanie dodana nowa funkcja obsługująca pętle, <code>loop</code>. Jej nazwa może jednak ulec zmianie, jeśli tak zadecyduje forum. Nowa funkcja umożliwi wygodne tworzenie pętli, nie wymagające zagnieżdżania tablic, co do najprzyjemniejszych zjawisk programistycznych nie należy.</p>

<h2>Przeprowadzka na nowy serwer</h2>
<p>16.01.2007</p>
<p>Jestem blisko przeprowadzki na nowy, mocny serwer sponsorowany przez kolegę. Jeszcze tylko parę problemów z niedziałaniem xt na nim i skończą się problemy z niedostępną stroną xt czy <a href="/archiwum" title="archiwum skryptów">archiwum</a>.</p>

<h2>(nowa) szata graficzna</h2>
<p>15.01.2007</p>
<p>Na stronie pojawiła się szata graficzna. Twórcą loga jest kolega <a href="http://forumweb.pl/profile.php?mode=viewprofile&amp;u=3025" title="profil Wigroma">Wigrom</a>. Autorem całej reszty <a href="http://minchal.jogger.pl" title="jogger Minchala">Minchal</a>. Serdeczne podziękowania za wkład w xt chłopaki! Mam nadzieję, że odwdzięczę się dalszym rozwojem projektu.</p>
<p>Nastąpiły również drastyczne zmiany w sposobie odwoływania się do obiektów, które naśladuje składnię <code>css</code>. Więcej na ten temat w <a href="docs">dokumentacji</a>. Nowa wersja przestała być kompatybilna z poprzednimi na rzecz kompatybilności ze standardami w3.</p>

<h2>Uroczyste otwarcie</h2>
<p>7.01.2006</p>
<p>Mam zaszczyt poinformować, że dziś została oddana do użytku pierwsza wersja xt.</p>
<p>Skrypt można pobrać ze strony <a href="download">download</a>.</p>
<p>Zapraszam wszystkich do testowania oraz <a href="http://forumweb.pl/viewtopic.php?t=22944">dyskusji</a>.</p>
